body {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
h3 { margin: 0 }

button {font-size: 2rem}

.inputName :focus {
    border-color: aliceblue
}
.header {
  position: fixed;
  width: 100%;
  background-color: #f9ffc4;
  height: 3rem;
  border-bottom: 5px solid #c2c2da;
  text-align: -webkit-auto;
}
.navi { 
  margin-right: 1rem;
  right: 0;
  position: fixed;
  top: 0;
}
form {
  height: 2rem; 
  margin-bottom: 2rem;
}
input {
  height: 150%;
  width: 70%;
  border: 1px solid blue;
  font-size: 3rem;
  text-align: center;
  background-color: floralwhite;
}
.ReactTable {
  position: fixed;
  top: 5rem;
  width: 90%;
  left: 5%;
  bottom: 2rem;
  overflow: visible;
  max-height: fit-content;
}
.RegisterView {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
}
.suplied {
  top: 10rem;
}
.checkbox {
  height: 2rem;
  margin: 0.5rem;
}
.rt-tr-group {
  max-height: 3rem;
}
.checked {
  border: 2px solid;
}
.choice {
  position: absolute;
  width: 24rem;
  height: 5rem;
  background-color: blanchedalmond;
  margin: 8rem calc(50% - 12rem);
}