.black {
  background-color: black;
  color: white;
  line-height: 2rem !important;
}
.red {
  background-color: red;
  color: white;
  line-height: 2rem !important;
}
.center {
  text-align: center;
}
svg { fill: currentColor}
.svgRed {
  background-color: #ff5757;
}
.svgBlack {
  background-color: #6d6d6d;
}