.carry {
  position: absolute;
  width: 100%;
  background-color: gold;
  padding-top: 10rem;
  font-size: larger;
  font-weight: bolder;
}
.holder {
  display: grid;
}
.winner {
  font-size: 10rem;
  background-color: rgba(0,255,0,0.1);
  margin: 1.5rem;
  border-radius: 1000%;
}